<div id="bets" class="transitions-enabled">

<% @bets.each do |bet| %>

  <div class="box panel panel-default">
  <%= link_to image_tag(bet.image.url(:medium)), bet %>

  <div class="panel-body">
    <h4><%= bet.bet %></h4>
    <p><%= bet.description %></p>
    <p><strong><%= bet.user.name if bet.user %></strong></p>   
    
    <% if bet.user == current_user %>

    <div class="actions">     
      
      <%= link_to edit_bet_path(bet) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>

      <%= link_to bet, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <span class="glyphicon glyphicon-trash"></span>
      Delete
      <% end %>

    </div>
    <% end %>

  </div>

  </div>

<% end %>

</div>

<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>