<%= link_to bets_path do %>
<span class="glyphicon glyphicon-chevron-left"></span>
BACK
<% end %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			
		<div class="panel-heading center">
			<%= image_tag @bet.image.url(:medium) %>
		</div>

		<div class="panel-body">
			<h4><%= @bet.bet %></h4>
			<p><%= @bet.description %></p>
			<p><strong><%= @bet.user.name if @bet.user %></strong></p>
<% if @bet.user == current_user %>
		      <%= link_to edit_bet_path(@bet) do %>
		        <span class="glyphicon glyphicon-edit"></span>
		        Edit
		      <% end %>
			<%= link_to @bet, method: :delete, data: { confirm: 'Are you sure?' } do %>
      		<span class="glyphicon glyphicon-trash"></span>
     		 Delete
      		<% end %>
			  
<% end %>
		</div>


		</div>
	</div>
</div>