<div class="jumbotron center">
	<h1>Welcome to Bet-U</h1>
	
	<% if user_signed_in? %>
	
	# Yeah! you are online.
	
	<% else %>

	<p>
       <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-ms" %>
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-ms" %>
 	 </p>  

	<% end %>

</div>