<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BET-U", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Bets", bets_path %></li>
        <li><%= link_to "About", about_path %></li>
        
        <% if user_signed_in? %>


<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Profile <% end %></li>
          <li><%= link_to new_bet_path do %><span class="glyphicon glyphicon-plus"></span> New Bet<% end %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
 <!--  
          <li>
            <%= link_to new_bet_path do %>
            <span class="glyphicon glyphicon-plus"></span> New Bet
            <% end %>
          </li>

          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span> Profile
          <% end %>
          </li>

          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
-->
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- container -->
</nav>