<!DOCTYPE html>
<html>
<head>
  <title>Bet-U</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta name="google-site-verification" content="oM0B2IFbttfQ6MfukBKcRgfZ3_oMzlHNEkaK-pnlxrs" />
  
</head>
<body>

  <%= render 'layouts/header' %>

	<div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
		<%= yield %>
	</div>

  <%= render 'layouts/ga' %>
</body>
  <%= render 'layouts/footer' %>
</html>
 